body{
    text-align: center;
    font-family: sans-serif;
}

.home__header{
    display: flex;
    flex-direction: row;
}

.centered-image {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  

/*
.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
   width:50%;
}
*/

.home__header-content{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 750px;


}

.home__header-logo{

    margin-top: -10rem;
}


.home__header-content h1{
    font-family:'Courier New', Courier, monospace;
    font-size: 20 px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 5px;
    word-spacing: 15 px;
    text-transform: uppercase;
    line-height: 75px;
    text-align: center;
    position: absolute;
    left:520px;
    top:550px;
  /* margin-top: -10rem;   */ 
}

.home__header-content p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 3px;
    word-spacing: 15 px;
    text-shadow: 3px 0px 8px;
    text-decoration: none;
    text-transform: lowercase;
    line-height: 28px;
    color: rgb(239, 126, 126);
    position: absolute;
    left:580px;
    top:625px;
}

/*
.home__header-content__logo{
    width: 100%;
    display: flex;
    object-fit: center;
    margin-top: 100rem;
    left: 40%;

}
*/
/*
.home__header-content__logo img{
    width: 300px;
    height: 300px;

}
*/
.home__header-start button{
    flex:2;
    width:10%;
    min-height:30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight:800;
    font-size: 25px;
    line-height: 20px;
    background: rgb(40, 110, 61);
    color: white;
    outline:none;
    cursor: pointer; 
    padding: 0.5rem 0.5rem;
    
    position: absolute;
    left:675px;
    top:675px;
    /*
    object-position: center;
    object-fit: center;
    margin-top: 35rem;
    bottom:500px;
    right:783px;
*/

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px;

}

@media screen and (max-width:650px){
    .home__header-content h1{
        font-size: 48px;
        line-height: 60px;
    }
}