.pricetag__page{
    display:flex;
}

.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

.pricetag__page-content{
    flex: none;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 1000px;
}

.pricetag__page-content h1{
    font-family: 'Courier New', Courier, monospace;
    font-size:20px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 5px;
    word-spacing: 15 px;

    text-decoration: none;
    text-transform: uppercase;
    line-height: 75px;
    position: absolute;
    left:500px;
    top:1000px;
    

    margin-top: 80px;
}

.pricetag__bank button{
    flex:2;
    width:10%;
    min-height:30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight:800;
    font-size: 25px;
    line-height: 20px;
    background: rgb(40, 110, 61);
    color: white;
    outline:none;
    cursor: pointer; 
    padding: 0.5rem 0.5rem;
    position: absolute;
    left:670px;
    top: 1345px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px;
}

.pricetag__midbank button{
    flex:2;
    width:10%;
    min-height:30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight:800;
    font-size: 25px;
    line-height: 20px;
    background: rgb(40, 110, 61);
    color: white;
    outline:none;
    cursor: pointer; 
    padding: 0.5rem 0.5rem;
    position: absolute;
    left:670px;
    top: 1285px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px;
}

.pricetag__lowbank button{
    flex:2;
    width:10%;
    min-height:30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight:800;
    font-size: 25px;
    line-height: 20px;
    background: rgb(40, 110, 61);
    color: white;
    outline:none;
    cursor: pointer; 
    padding: 0.5rem 0.5rem;
    position: absolute;
    left:670px;
    top: 1225px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px;

}

.pricetag__lowestbank button{
    flex:2;
    width:10%;
    min-height:30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight:800;
    font-size: 25px;
    line-height: 20px;
    background: rgb(40, 110, 61);
    color: white;
    outline:none;
    cursor: pointer; 
    padding: 0.5rem 0.5rem;
    position: absolute;
    left:670px;
    top: 1165px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px;

}


