* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }
  
  body {
    background: var(--color-bg);
  }
  
  a {
    color: unset;
    text-decoration: none;
  }
  
  .gradient__bg             
{

    /* ff 3.6+ */
    background:-moz-linear-gradient(90deg, rgba(218, 247, 220, 1) 0%, rgba(158, 228, 147, 1) 50%, rgba(106, 141, 146, 1) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(90deg, rgba(218, 247, 220, 1) 0%, rgba(158, 228, 147, 1) 50%, rgba(106, 141, 146, 1) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(90deg, rgba(218, 247, 220, 1) 0%, rgba(158, 228, 147, 1) 50%, rgba(106, 141, 146, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6A8D92', endColorstr='#DAF7DC', GradientType=0 );

    /* ie 10+ */
    background:-ms-linear-gradient(90deg, rgba(218, 247, 220, 1) 0%, rgba(158, 228, 147, 1) 50%, rgba(106, 141, 146, 1) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(90deg, rgba(218, 247, 220, 1) 0%, rgba(158, 228, 147, 1) 50%, rgba(106, 141, 146, 1) 100%);

}
