.customButton {
    width: 150px;
    height: 50px;

    margin:10px;
    letter-spacing: 0.5px;
    background-color: #DB5461;
    color: white;
    font-size: 32px;
    border: 1.5px solid #DB5461;
    border-radius: 5px;
    cursor: pointer;
    }

.active{
    background-color: #ff9933;
    border: 1.5px solid #ff9933;
    }