.mealmate__location {
    display: flex;
    flex-direction: row;
}

.mealmate__location-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: #252627;
    margin-right: 5rem;
    height: 750px
}

.mealmate__location-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.mealmate__location-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-text);

    margin-top: 1.5rem;
}

.mealmate__location-content__input {
    width: 100%;
    margin: 2rem 0 1rem;

    display: flex;
    flex-direction: row;
}

.mealmate__location-content__input input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: rgba(255, 255, 255, 0.847);
    border: 2px solid rgba(255, 255, 255, 0.847);
    padding: 0 1rem;
    outline: none;
    color: rgb(0, 0, 0);

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.mealmate__location-content__input button {
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: #DB5461;
    border: 2px solid #DB5461;
    padding: 0 1rem;
    color: #fff;
    cursor: pointer;
    outline: none;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.mealmate__location-content__input button:hover {
    background-color: #ff9933;
    border: 2px solid #ff9933;
  }

.center-button {
    position: center;
    top: 85%;
    margin: 0 auto;
    /* width: 50px; */
    /* transform: translate(-50%, -50%); */
  }
.bottom_spacer 
{
    height: 50px;
    width: 100%;
  }

@media screen and (max-width: 1050px) {
    .mealmate__location {
        flex-direction: column;
    }

    .mealmate__location-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .mealmate__location-content h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .mealmate__location-content p {
        font-size: 16px;
        line-height: 24px;
    }
    
    .mealmate__location-content__people {
        flex-direction: column;
    }

    .mealmate__location-content__people p {
        margin: 0;
    }

    .mealmate__location-content__input input,
    .mealmate__location-content__input button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .mealmate__location-content h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .mealmate__location-content p {
        font-size: 14px;
        line-height: 24px;
    }

    .mealmate__location-content__input input,
    .mealmate__location-content__input button {
        font-size: 12px;
        line-height: 16px;
    }
}
